In [22]:
import pandas as pd
import numpy as np

# ðŸ“š Today's Learning: Handling Missing Data
## ðŸ§  Step 1: Understand What "Missing Data" Means
In Python (pandas), missing values are usually represented as:

NaN (Not a Number)
None

In [23]:
df = pd.read_csv('./data/my_file.csv')
df

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â€,2023â€“2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â€¡[4][a],2008â€“2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â€“2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â€“2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival â€,2023â€“2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",BeyoncÃ©,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",BeyoncÃ©,The Mrs. Carter Show World Tour,2013â€“2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â€“2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â€“2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â€¡[21][a],2002â€“2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â€“2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â€“2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â€“2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â€“2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â€“2014,86,"$1,744,186",[26]

In [24]:
#check for missing data
print(df.isnull().sum())

Rank                                 0
Peak                                11
All Time Peak                       14
ActualÂ gross                         0
AdjustedÂ gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

# ðŸ”§ Step 3: Techniques to Handle Missing Data
1. Drop Rows or Columns
Use when the data is mostly missing or not important.

In [25]:
df_cleaned = df.dropna()
df_cleaned

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â€,2023â€“2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â€¡[4][a],2008â€“2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â€“2019,156,"$2,546,795",[7]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]

# 2. Fill with a Default Value
Use when it makes sense to replace missing with 0 or "Unknown"

In [26]:
df['All Time Peak'] = df['All Time Peak'].fillna('Unknown')
df['Peak'] = df['Peak'].fillna('Unknown')
df

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â€,2023â€“2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â€¡[4][a],2008â€“2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â€“2019,156,"$2,546,795",[7]
4,5,2[4],Unknown,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],Unknown,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â€“2009,131,"$2,137,405",[11]
7,7,Unknown,Unknown,"$257,600,000","$257,600,000",Pink,Summer Carnival â€,2023â€“2024,41,"$6,282,927",[12]
8,9,Unknown,Unknown,"$256,084,556","$312,258,401",BeyoncÃ©,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,Unknown,Unknown,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,Unknown,Unknown,"$229,100,000[b]","$283,202,896",BeyoncÃ©,The Mrs. Carter Show World Tour,2013â€“2014,132,"$1,735,606",[15][16]
11,12,Unknown,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â€“2011,203,"$1,118,227",[18]
12,13,Unknown,Unknown,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â€“2015,151,"$1,350,993",[19]
13,14,1[20],Unknown,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â€¡[21][a],2002â€“2005,325,"$615,385",[20]
14,15,2[c],Unknown,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,Unknown,Unknown,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â€“2014,142,"$1,295,775",[22]
16,17,Unknown,Unknown,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â€“2013,98,"$1,734,694",[d]
17,18,Unknown,Unknown,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â€“2016,82,"$2,070,732",[4]
18,19,Unknown,Unknown,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â€“2017,121,"$1,385,950",[25]
19,20,Unknown,Unknown,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â€“2014,86,"$1,744,186",[26]

In [28]:
cleaned_data = df.to_csv('./data/cleaned_data.csv', index=False)

### ðŸ§¹ Data Cleaning Notes

- **Column**: All Time peak  
  - Missing Count: 14  
  - Method Used: `fillna('Unknown')`  
  - Reason: It contain value and the values are not predictable, and we donâ€™t want to drop rows yet.

- **Column**: Peak  
  - Missing Count: 11  
  - Method Used: `fillna('Unknown')`  
  - Reason: Same as All Time Peak